.homeSnake{
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width : 500px;
  padding : 40px;
}
.details {
float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 500px;
  padding : 40px;
}
button{
    background-color: #04AA6D;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
}

button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  border-radius: 5px;
  font-size: 17px;
  color: #666666;
}

form{
    padding : 15px;
}