<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SnakeNLadder</title>
    <meta charset="ISO-8859-1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="/css/home.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="noBack();">
<div>
<h2 style="text-align: center;"><U>Snake-N-Ladder</U></h2>
<img class="homeSnake" src="/images/snakeNLadder.PNG">
</div>
<br/>
<div class="details">
    <h2><u>Enter Player Details to Begin:</u></h2>
        <p>Player-1 Name :
        <input type="text" id="player1Name">
        </p>
        <p>Player-2 Name :
            <input type="text" id="player2Name">
        </p>
        <p>Player-3 Name :
            <input type="text" id="player3Name">
        </p>
        <p>Player-4 Name :
            <input type="text" id="player4Name">
        </p>
        <button id="playerDetails" style="text-align: center;">Play</button>
</div>
</body>
</html>